
<%-include("header") -%>

<h1>I am new to web design and im currently learning new things.</h1> <br>
<p style="color: black;font-family: 'Times New Roman', Times, serif;">WELL WE ALL ARE NEW AND WE ALL HAVE TO ACCEPT THE FACT AND MOVE AHEAD IN TIMES WHERE WE WANT TO GO</p>
<br>

<%-include("footer") -%>